body {
  position: absolute;
}
.alert {
  padding: 20px;
  background-color: rgba(0, 255, 34, 0.541);
  border: 2px solid black;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.success {
  position: relative;
  right: -100%; /* Початкова позиція за межами екрану справа */

  top: 100px; /* Відступ знизу */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Плавний перехід для transform та opacity */
  opacity: 0; /* Початкова невидимість */
}

.success.is-visible {
  transform: translateX(-100%); /* Переміщення у видиму область */
  opacity: 1; /* Робить елемент видимим */
}

.field {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid #ccc; /* Границы карточки */
  border-radius: 8px; /* Закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для создания эффекта объема */
  overflow: hidden; /* Обрезает содержимое, выходящее за границы */
  width: 300px; /* Ширина карточки */
  margin: 16px auto; /* Отступы и центрирование карточки */
  background-color: #fff; /* Фон карточки */
}

.card-img-top img {
  width: 100%; /* Картинка занимает всю ширину карточки */
  height: auto; /* Автоматическая высота изображения */
  display: block; /* Блоковое отображение для корректного масштабирования */
}

.card-body {
  padding: 16px; /* Внутренние отступы */
}

.card-title {
  font-size: 1.5rem; /* Размер шрифта заголовка */
  margin-bottom: 8px; /* Отступ снизу */
  color: #333; /* Цвет текста заголовка */
}

.card-text {
  font-size: 1rem; /* Размер шрифта основного текста */
  margin-bottom: 8px; /* Отступ снизу */
  color: #555; /* Цвет текста */
}

.card-text b {
  color: #000; /* Цвет выделенного текста */
}

.clas-list-group {
  list-style-type: none; /* Убираем стандартные маркеры списка */
  padding-left: 0; /* Убираем отступы слева */
  margin: 0; /* Убираем внешние отступы */
}

.clas-list-item {
  padding: 8px 16px; /* Внутренние отступы для элементов списка */
  border-bottom: 1px solid #ddd; /* Разделительная линия между элементами списка */
  background-color: #f8f8f8; /* Фон элементов списка */
}

.clas-list-item:last-child {
  border-bottom: none; /* Убираем линию у последнего элемента списка */
}
