body {
  position: absolute;
}
.alert {
  padding: 20px;
  background-color: rgba(0, 255, 34, 0.541);
  border: 2px solid black;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.success {
  position: relative;
  right: -100%; /* Початкова позиція за межами екрану справа */

  top: 100px; /* Відступ знизу */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Плавний перехід для transform та opacity */
  opacity: 0; /* Початкова невидимість */
}

.success.is-visible {
  transform: translateX(-100%); /* Переміщення у видиму область */
  opacity: 1; /* Робить елемент видимим */
}

.field {
  display: flex;
  flex-direction: column;
}

/* Стили для карточки */
.card {
  border: 1px solid #e0e0e0; /* Границы карточки */
  border-radius: 8px; /* Закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для создания объема */
  overflow: hidden; /* Обрезает содержимое, выходящее за границы */
  width: 300px; /* Ширина карточки */
  margin: 16px auto; /* Отступы и центрирование карточки */
  background-color: #fff; /* Фон карточки */
  transition: transform 0.3s ease; /* Плавная анимация при наведении */
}

/* Анимация при наведении на карточку */
.card:hover {
  transform: translateY(-5px); /* Подъем карточки */
}

/* Стили для верхней части карточки с изображением */
.card-img-top {
  width: 100%; /* Картинка занимает всю ширину карточки */
  height: 200px; /* Фиксированная высота блока с изображением */
  background-color: #f8f8f8; /* Фон если изображение не загрузится */
  display: flex; /* Центрирование изображения */
  align-items: center; /* Центрирование изображения */
  justify-content: center; /* Центрирование изображения */
}

/* Стили для изображения */
.card-img-top img {
  width: 300px; /* Ограничение по ширине изображения */
  height: 300px; /* Ограничение по высоте изображения */
  object-fit: cover; /* Объект сохраняет пропорции */
}

/* Стили для тела карточки */
.card-body {
  padding: 16px; /* Внутренние отступы */
}

/* Стили для заголовка карточки */
.card-title {
  font-size: 1.5rem; /* Размер шрифта заголовка */
  margin-bottom: 8px; /* Отступ снизу */
  color: #333; /* Цвет текста заголовка */
}

/* Стили для текста карточки */
.card-text {
  font-size: 1rem; /* Размер шрифта основного текста */
  margin-bottom: 8px; /* Отступ снизу */
  color: #555; /* Цвет текста */
}

/* Стили для списка умений */
.clas-list-group {
  list-style-type: none; /* Убираем стандартные маркеры списка */
  padding-left: 0; /* Убираем отступы слева */
  margin: 0; /* Убираем внешние отступы */
}

.clas-list-item {
  padding: 8px 16px; /* Внутренние отступы для элементов списка */
  border-bottom: 1px solid #ddd; /* Разделительная линия между элементами списка */
  background-color: #f8f8f8; /* Фон элементов списка */
}

/* Убираем линию у последнего элемента списка */
.clas-list-item:last-child {
  border-bottom: none;
}
