<div class='card'>
  <div class='card-img-top'>
    <img src='' alt='' />
  </div>
  <div class='card-body'>
    <h2 class='card-title'>Імя</h2>
    <p class='card-text'>Вага</p>
    <p class='card-text'>Ріст</p>
    <p class='card-text'><b>Вміння</b></p>
    <ul class='clas-list-group'>
      <li class='clas-list-item'></li>
    </ul>
  </div>
</div>